<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to Settings.application.name, root_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarDefault">
    <ul class='navbar-nav'>
      <% if current_user %>
        <li class='nav-item'><%= link_to "Odhlásit se", logout_path %></li>
      <% else %>
        <li class='nav-item'><%= link_to 'Přihlásit se', auth_path(ENV['PROVIDER_NAME']) %></li>
      <% end %>
    </ul>
  </div>
</nav>
